#container {

    width: 200px;
    height: 300px;
    background-color:gray;
}

.buttony {
    display:block;
    width: 75px;
    margin: 0.4em 2em;
}

.greyed {
    background-color: grey !important;
}

.correct {
    background-color: green;
}
 
.incorrect {
    background-color: red;
}